In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/adult.data", engine='python', sep=', ', header=None, na_values=['?'])

In [3]:
df.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
Q1 = df['race'].value_counts()

In [8]:
Q1

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [9]:
mask1 = df[df['sex'] == 'Male']

In [10]:
Q2 = mask1['age'].mean()

In [11]:
Q2

np.float64(39.43354749885268)

In [12]:
Q3 = sum(df['education'] == 'Bachelors') / len(df['education']) * 100

In [13]:
Q3

16.44605509658794

In [14]:
mask2 = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')

In [15]:
df[mask2]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [16]:
df1 = df[mask2]

In [17]:
Q4 = sum(df1['salary']  == '>50K') / len(df1['education']) * 100

In [18]:
Q4

46.535843011613935

In [19]:
df2 = df[~mask2]

In [20]:
Q5 = sum(df2['salary']  == '>50K') / len(df2['education']) * 100

In [21]:
Q5

17.3713601914639

In [22]:
Q6 = df['hours-per-week'].min()

In [23]:
Q6

np.int64(1)

In [24]:
mask3 = (df['hours-per-week'] == 1)

In [25]:
df3 = df[mask3]

In [26]:
Q7 = sum(df3['salary']  == '>50K') / len(df3['hours-per-week']) * 100

In [27]:
Q7

10.0

In [28]:
df4 = df[df['salary'] == '>50K']

In [29]:
df5 = df[df['salary'] == '<=50K']

In [30]:
S4 = df4['native-country'].value_counts()

In [31]:
S5 = df5['native-country'].value_counts()

In [32]:
S3 = df['native-country'].value_counts()

In [33]:
df6 = pd.DataFrame(data=[S4,S5])

In [34]:
df7 = df6.T

In [35]:
df7.columns=['>50K','<=50K']

In [36]:
df7['%>50K']=df7['>50K']/(df7['>50K']+df7['<=50K'])*100

In [37]:
df7

                              >50K    <=50K      %>50K
native-country
United-States               7171.0  21999.0  24.583476
Philippines                   61.0    137.0  30.808081
Germany                       44.0     93.0  32.116788
India                         40.0     60.0  40.000000
Canada                        39.0     82.0  32.231405
Mexico                        33.0    610.0   5.132193
England                       30.0     60.0  33.333333
Cuba                          25.0     70.0  26.315789
Italy                         25.0     48.0  34.246575
Japan                         24.0     38.0  38.709677
Taiwan                        20.0     31.0  39.215686
China                         20.0     55.0  26.666667
Iran                          18.0     25.0  41.860465
South                         16.0     64.0  20.000000
Poland                        12.0     48.0  20.000000
France                        12.0     17.0  41.379310
Puerto-Rico                   12.0    102.0  10.526316
Jamaica                       10.0     71.0  12.345679
El-Salvador                    9.0     97.0   8.490566
Greece                         8.0     21.0  27.586207
Cambodia                       7.0     12.0  36.842105
Hong                           6.0     14.0  30.000000
Yugoslavia                     6.0     10.0  37.500000
Vietnam                        5.0     62.0   7.462687
Ireland                        5.0     19.0  20.833333
Portugal                       4.0     33.0  10.810811
Ecuador                        4.0     24.0  14.285714
Haiti                          4.0     40.0   9.090909
Scotland                       3.0      9.0  25.000000
Guatemala                      3.0     61.0   4.687500
Thailand                       3.0     15.0  16.666667
Hungary                        3.0     10.0  23.076923
Columbia                       2.0     57.0   3.389831
Peru                           2.0     29.0   6.451613
Dominican-Republic             2.0     68.0   2.857143
Trinadad&Tobago                2.0     17.0  10.526316
Nicaragua                      2.0     32.0   5.882353
Laos                           2.0     16.0  11.111111
Honduras                       1.0     12.0   7.692308
Outlying-US(Guam-USVI-etc)     NaN     14.0        NaN
Holand-Netherlands             NaN      1.0        NaN

In [38]:
Q8_1 = df7['%>50K'].idxmax()

In [39]:
Q8_1

'Iran'

In [40]:
Q8_2 = df7['%>50K'].max()

In [41]:
Q8_2

np.float64(41.86046511627907)

In [42]:
df8 = df[(df['salary']=='>50K')&(df['native-country']=='India')]

In [43]:
S9 = df8['occupation'].value_counts()

In [44]:
Q9 = S9.idxmax()

In [45]:
Q9

'Prof-specialty'