In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/adult.data", engine='python', sep=', ', header=None, na_values=['?'])

In [3]:
df.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
Q1 = df['race'].value_counts()

In [8]:
Q1

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [9]:
mask1 = df[df['sex'] == 'Male']

In [60]:
Q2 = round(mask1['age'].mean() , 1)

In [61]:
Q2

np.float64(39.4)

In [56]:
Q3 = round(sum(df['education'] == 'Bachelors') / len(df['education']) * 100 , 1)

In [57]:
Q3

16.4

In [14]:
mask2 = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')

In [16]:
df1 = df[mask2]

In [58]:
Q4 = round(sum(df1['salary']  == '>50K') / len(df1['education']) * 100 , 1)

In [59]:
Q4

46.5

In [19]:
df2 = df[~mask2]

In [62]:
Q5 = round(sum(df2['salary']  == '>50K') / len(df2['education']) * 100 , 1)

In [63]:
Q5

17.4

In [22]:
Q6 = df['hours-per-week'].min()

In [23]:
Q6

np.int64(1)

In [24]:
mask3 = (df['hours-per-week'] == 1)

In [25]:
df3 = df[mask3]

In [26]:
Q7 = sum(df3['salary']  == '>50K') / len(df3['hours-per-week']) * 100

In [27]:
Q7

10.0

In [28]:
df4 = df[df['salary'] == '>50K']

In [29]:
df5 = df[df['salary'] == '<=50K']

In [30]:
S4 = df4['native-country'].value_counts()

In [31]:
S5 = df5['native-country'].value_counts()

In [32]:
S3 = df['native-country'].value_counts()

In [33]:
df6 = pd.DataFrame(data=[S4,S5])

In [34]:
df7 = df6.T

In [35]:
df7.columns=['>50K','<=50K']

In [36]:
df7['%>50K']=df7['>50K']/(df7['>50K']+df7['<=50K'])*100

In [38]:
Q8_1 = df7['%>50K'].idxmax()

In [39]:
Q8_1

'Iran'

In [66]:
Q8_2 = round(df7['%>50K'].max() , 1)

In [67]:
Q8_2

np.float64(41.9)

In [42]:
df8 = df[(df['salary']=='>50K')&(df['native-country']=='India')]

In [43]:
S9 = df8['occupation'].value_counts()

In [44]:
Q9 = S9.idxmax()

In [45]:
Q9

'Prof-specialty'